/* ---- reset ---- */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}


/* ---- typography ---- */

nav ul a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: large;
    font-family: Arial, "Lucida Sans", sans-serif;
}

.container {
    font-family: Calibri, "Lucida Sans", sans-serif;
}

aside div {
    font-size: larger;
    font-family: Arial, "Lucida Sans", sans-serif;
}

/* ---- layout ---- */

#logo {
    width: 130px;
}
nav {
    background-color: #718C00;
}

nav ul {
    display: none;
}

img#menu {
    padding: 3px;
}

.container {
    margin: 0 20px;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
}

section {
    margin-bottom: 20px;
    padding-top: 20px;
}

article {
    width: 100%;
    margin: 0 0 40px 0;
}

article a {
    text-decoration: none;
}

article img {
    width: 100%;
}

aside div {
    margin: 20px 0px;
    height: 100px;
    background-color: cornflowerblue;
    text-align: center;
    vertical-align: middle;
}

aside div a {
    height: 100px;
    line-height: 100px;
    text-decoration: none;
    color: #e0e0e0;
}

@media (min-width: 992px) {
    nav ul {
        width: 920px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 10px 0;
    }

    #menu {
        display: none;
    }

    .container {
        width: 920px;
        margin: 0 auto;
    }

    .flex-container {
        display: flex;
    }

    section {
        width: 620px;
        display: flex;
        flex-wrap: wrap;
    }

    article {
        width: 300px;
        margin-right: 10px;
        margin-bottom: 7px;
    }

    aside {
        width: 300px;
        margin-top: 50px;
        padding-left: 10px;
    }
}

/* ---- header ---- */

/* ---- footer ---- */

/* ---- components ---- */