<form action="Member.php" method="post">
    <label for="firstName">Voornaam</label>
    <input type="text" id="firstName" name="firstName" value="{{ firstName }}">
    <button type="submit">Aanmelden</button>
</form>